<div class="wrapper">
  <div class="main">
    <div class="section section-nude">
      <div class="container">
        <h3 class="title-uppercase">Today</h3>

        <%= link_to "Add a todo", new_todo_path, class: "btn btn-info pull-right" %>

        <div class='settings'>
          <label><%= @todos.where('is_complete is null or is_complete = ?', false).count %> of
            <%= @todos.count %> left to do
          </label>

          <%= render partial: "checklist", locals: {todos: @todos.where('is_complete is null or is_complete = ?', false)} %>

          <%= render partial: "checklist", locals: {todos: @todos.where('is_complete = ?', true)} %>

        </div>

      </div>
    </div>
  </div>
</div>
